<div mat-dialog-content>
    <div>
        <h1>Changement mot de passe :</h1>
    </div>
    <form style="width:350px">
        <div style="margin: 20px auto;display: flex; flex-direction: column;gap: 10px;">
            <mat-form-field appearance="standard">
                <mat-label>Votre Email / Identifiant</mat-label>
                <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <mat-hint style="color: crimson" *ngIf="emailHint">email | Identifiant est obligatoire</mat-hint>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="annuler()">Annuler</button>
    <button mat-flat-button color="primary" (click)="validate()">Valider</button>
</div>