<div mat-dialog-content>
    <div>
        <h1>Changement mot de passe :</h1>
    </div>
    <form style="width:350px">
        <div style="margin: 20px auto;display: flex; flex-direction: column;gap: 10px;">
            <mat-form-field appearance="standard">
                <mat-label>Votre Identifiant</mat-label>
                <input matInput [(ngModel)]="identifiant" [ngModelOptions]="{standalone: true}">
                <mat-hint style="color: crimson" *ngIf="identifiantHint">identifiant est obligatoire</mat-hint>
            </mat-form-field>
        </div>
        <div style="margin: 20px auto; display: flex; flex-direction: column;gap: 10px;">
            <mat-form-field appearance="standard">
                <mat-label>Mot de Pass Actuel</mat-label>
                <input matInput [(ngModel)]="oldpassword" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-hint style="color: crimson" *ngIf="oldpasswordHint">Veuillez saisir votre mot de passe actuel.</mat-hint>
            <!-- <mat-hint style="color: rgb(25, 32, 128)">Assurez-vous que votre mot de passe comporte au moins 6 caractères et qu'il contient des lettres, des chiffres et des caractères spéciaux.</mat-hint> -->
        </div>
        <div style="margin: 20px auto; display: flex; flex-direction: column;gap: 10px;">
            <mat-form-field appearance="standard">
                <mat-label>Nouveau Mot de Pass</mat-label>
                <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-hint style="color: crimson" *ngIf="passwordHint">Veuillez saisir votre nouveau mot de passe.</mat-hint>
            <mat-hint style="color: rgb(25, 32, 128)">Assurez-vous que votre mot de passe comporte au moins 6 caractères et qu'il contient des lettres, des chiffres et des caractères spéciaux.</mat-hint>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="annuler()">Annuler</button>
    <button mat-flat-button color="primary" (click)="validate()">Valider</button>
</div>