<div class="containerAgent">

  <div class="fields">
    <p style="text-align: center;font-size: 1.2rem;">Pour accéder à l’état des demandes, veuillez saisir votre matricule et cliquer sur le button "Aller" :</p>
    <mat-form-field appearance="fill">
      <mat-label>Matricule Gestionnaire</mat-label>
      <input
      (keypress)="enterKeyPressed($event)"
      [(ngModel)]="codegestionnaire"
        type="text"
        matInput
      />
      <mat-hint style="color: crimson" *ngIf="isHint">{{codegestionnaire && isHint?'veuillez insérer votre code gestionnaire':''}}</mat-hint>
    </mat-form-field>


    <div style="position: relative;
    top: -52px;
    left: 204px;">
      <button style="height: 50px;"  (click)="getDemandesPrequalifQualif()" mat-flat-button>Aller</button>
    </div>
  </div>
  <mat-spinner style="margin: 20px auto" *ngIf="!dataSource && isAllerClicked"></mat-spinner>
  <div *ngIf="dataSource" style="margin: 10px;">
    <table
    mat-table
    [dataSource]="dataSource"
    matTableExporter
    #exporter="matTableExporter"
    class="mat-elevation-z8"
    matSort
  >
    <ng-container matColumnDef="valeurid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.valeurid }}</td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
    </ng-container>
  
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
      <td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
    </ng-container>
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
      <td mat-cell *matCellDef="let element">{{ element.cin }}</td>
    </ng-container>
    <ng-container matColumnDef="telgsm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel</th>
      <td mat-cell *matCellDef="let element">{{ element.telgsm }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="codeagence">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code<br>PDV</th>
      <td mat-cell *matCellDef="let element">
        {{ element.agence }} ({{element.codeagence }})
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="agence_reorientation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PDV<br>reorienté</th>
      <td mat-cell *matCellDef="let element">
        {{ agence.agence_reorientation }}
    </ng-container> -->
    <ng-container matColumnDef="entry_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.entry_date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="secteur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur</th>
      <td mat-cell *matCellDef="let element">{{ element.secteur }}</td>
    </ng-container>
    <ng-container matColumnDef="montantdemande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
      <td mat-cell *matCellDef="let element">{{ element.montantdemande }}</td>
    </ng-container>
    <ng-container matColumnDef="nbrappel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nbr<br>Appel</th>
      <td mat-cell *matCellDef="let element">{{ element.nbrappel }}</td>
    </ng-container>
    <ng-container matColumnDef="resultatTraitement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pré<br>qualif</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.resultatTraitement === "nouvelle"
            ? ""
            : element.resultatTraitement
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
      <td mat-cell *matCellDef="let element">
          <mat-form-field class="minWidth" appearance="standard">
              <mat-select [(ngModel)]="element.qualification" (selectionChange)="openReorientedModal(element)">
                <mat-option
                  *ngFor="let status of statusTraitement"
                  [value]="status.statut"
                >
                  {{ status.statut }}
                </mat-option>
              </mat-select>
              <mat-hint style="color: crimson" *ngIf="isHintStatutTraitement">{{
                HintStatutTraitement
              }}</mat-hint>
            </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="ville" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="minWidth" appearance="standard">
          <mat-select [disabled]="element.qualification !== 'Réorientée'"   [(ngModel)]="element.ville" (selectionChange)="getcodeagenes(element.ville)">
            <mat-option *ngFor="let v of villes" [value]="v.ville">
              {{ v.ville }}
            </mat-option>
          </mat-select>
          <mat-hint
            type="text"
            style="color: crimson"
            *ngIf="isHintVille"
            >{{ HintVille }}</mat-hint
          >
          <mat-hint
          type="text"
          style="color: crimson"
          *ngIf="isHintVilleAR"
          >{{ HintVilleAR }}</mat-hint
        >
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="agence" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agence</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="minWidth" appearance="standard">
          <mat-select  [disabled]="element.qualification !== 'Réorientée'" [(ngModel)]="element.codeagence">
            <mat-option
              *ngFor="let agence of agences"
              [value]="agence.codeagence"
            >
              {{ agence.agence }}
            </mat-option>
          </mat-select>
          <mat-hint style="color: crimson" *ngIf="isHintStatutTraitement">{{
            HintStatutTraitement
          }}</mat-hint>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="statuttraitement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut<br>Dem</th>
      <td mat-cell *matCellDef="let element">{{ element.statuttraitement }}</td>
    </ng-container>
    <ng-container matColumnDef="montantdebloque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant<br>Deb</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
  
    <!-- <ng-container matColumnDef="projet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Projet</th>
                                <td mat-cell *matCellDef="let element">{{ element.projet }}</td>
                            </ng-container> -->
  
    <!-- <ng-container matColumnDef="id_od">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id OD</th>
                                <td mat-cell *matCellDef="let element">{{ element.id_od }}</td>
                            </ng-container> -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <!-- <button (click)="openDialog(element.valeurid)" class="btn" mat-raised-button color="warn">
                                        Set Agence 
                                    </button>
                                    <button (click)="openDialogSecond(element.valeurid)" class="btn" mat-raised-button color="warn">
                                        Set Agent
                                    </button>
                                    <button (click)="getStatut(element.numtiers, element.codegestionnaire)" class="btn" mat-raised-button color="warn">
                                        Get Statut
                                    </button>
                                    <button (click)="sendToEvolan(element)" class="btn" mat-raised-button color="warn">
                                        Send To Evolan
                                    </button> -->
        <button
        (click)="validate(element)"
          class="btn"
          mat-raised-button
          color="warn"
        >
          valider
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </div>
  <mat-paginator
    class="{{ display }}"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
  
</div>