<div class="on_top_of_body">
  <div class="form_container">
    <div class="logo">
      <img width="150px" height="150px" src="../../../assets/logo.png" />
    </div>

    <div class="open_data">
      <h1>Plateforme de pré-qualification</h1>
    </div>
    <form [formGroup]="data">
      <div style="margin: 15px auto;">
        <mat-form-field appearance="fill">
          <mat-label>Identifiant</mat-label>
          <input formControlName="identifiant" matInput placeholder="Identifiant" />
          <mat-icon style="position: relative;
          bottom: 7px;" matPrefix><img src="../../../assets/account.png" alt="account icon"></mat-icon>
          <mat-hint *ngIf="false">Hint</mat-hint>
        </mat-form-field>
      </div>
      <div style="margin: 15px auto;">
        <mat-form-field appearance="fill">
          <mat-label> Mot de passe</mat-label>
          <input
          formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
          />
          <mat-icon style="position: relative;
          bottom: 7px;" matPrefix><img src="../../../assets/lock-open.png" alt="account icon"></mat-icon>
          <mat-hint *ngIf="false">Hint</mat-hint>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon style="position: relative;
          bottom: 7px;" matPrefix><img *ngIf="!hide" src="../../../assets/visible.png" alt="account icon"></mat-icon>
                      <mat-icon style="position: relative;
                      bottom: 7px;" matPrefix><img *ngIf="hide" src="../../../assets/invisible.png" alt="account icon"></mat-icon>
          </button>
        </mat-form-field>
        <p class="remember_me">
        <a (click)="forgetPassword()">Changer mot de passe</a>
        </p>
      </div>
  
      <!-- <p class="remember_me">
        <mat-checkbox formControlName="remember" color="warn">Se rappeler de moi</mat-checkbox>
        <a href="#">Mot de passe oublié?</a>
      </p> -->
    </form>


    <p class="login">
      <button [disabled]="!data.valid" mat-raised-button (keydown)="connectt($event)" (click)="connect()">
        <h1>se connecter</h1>
      </button>
    </p>
  <!--
  <p class="login">
    <button mat-raised-button (click)="setToken()"><h1>Get Token</h1></button>
  </p>
  -->

    <!-- <p style="text-align: center"><a href="/register">Créer un compte</a></p> -->
  </div>
</div>
