.form {
  margin: 10px;
  display:grid;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  div {
    margin-left: 20px;
  }
  input {
    color: #157103;
    font-weight: 600;
  }
  label {
    color: black;
    font-weight: 600;
  }
}
.buttons {
  display: table;
  margin: 0 auto;
  button,
  a {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
}
.chats {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.chats div {
  margin: 20px;
}
span.mat-button-wrapper:hover {
  color: rgb(6, 116, 206);
}
.anchor {
  margin-left: 10px;
  text-decoration: none;
}
.resultatTraitement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 0px 30px 30px 30px;
  border: 2px solid rgb(1, 36, 131);
  p {
    text-align: center;
    font-weight: 700;
    color: rgb(1, 36, 131);
    margin: 0;
    font-size: 1.38em;
  }
}
.resultatEvolan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 0px 30px 30px 30px;
  border: 2px solid rgb(131, 38, 1);
  p {
    text-align: center;
    font-weight: 700;
    color: rgb(131, 38, 1);
    margin: 0;
    font-size: 1.38em;
  }
}
.resultatEvolan2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  p {
    text-align: center;
    font-weight: 700;
    color: rgb(235, 62, 62);
    margin: 0;
    font-size: 1.38em;
  }
}

.nbrappel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(5, 126, 41);
  p {
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 0;
    font-size: 1.38em;
  }
}
mat-form-field{
  width: 180px;
}