<p>{{personne.action}}</p>
<p>{{personne.adresse}}</p>
<p>{{personne.autoinsert}}</p>
<p>{{personne.canal}}</p>
<p>{{personne.codeagence}}</p>
<p>{{personne.codeagencecible}}</p>
<p>{{personne.codegestionnaire}}</p>
<p>{{personne.codeorganisme}}</p>
<p>{{personne.codepostal}}</p>
<p>{{personne.dateexpiration}}</p>
<p>{{personne.dateinsert}}</p>
<p>{{personne.datenaissance}}</p>
<p>{{personne.erreur}}</p>
<p>{{personne.genre}}</p>
<p>{{personne.id}}</p>
<p>{{personne.idstatut}}</p>
<p>{{personne.montantdemande}}</p>
<p>{{personne.ncin}}</p>
<p>{{personne.niveauformalisme}}</p>
<p>{{personne.nom}}</p>
<p>{{personne.nombreecheance}}</p>
<p>{{personne.numrib}}</p>
<p>{{personne.numtiers}}</p>
<p>{{personne.origine}}</p>
<p>{{personne.prenom}}</p>
<p>{{personne.produit}}</p>
<p>{{personne.quartier}}</p>
<p>{{personne.rue}}</p>
<p>{{personne.situationfamiliale}}</p>
<p>{{personne.source}}</p>
<p>{{personne.statuttraitement}}</p>
<p>{{personne.teldomicile}}</p>
<p>{{personne.telgsm}}</p>
<p>{{personne.telprofessionnel}}</p>
<p>{{personne.typeclient}}</p>
<p>{{personne.typeenregistrement}}</p>
<p>{{personne.valeurid}}</p>
<p>{{personne.ville}}</p>
<p>{{personne.personneMoraleGarantError}}</p>
<p>{{personne.personneMoraleError}}</p>
<p>{{personne.personnePhysiqueError}}</p>
<!--
<ul *ngFor="let log of logs">
    <li>{{log.champ + log.annomalie}}</li>
</ul>
-->
