<div class="on_top_of_body">
  <div class="form_container">
    <div class="title">
      <h1>Ajouter un nouvel utilisateur</h1>
    </div>
    <form [formGroup]="data" (ngSubmit)="onSubmit()">
      <div class="fields-container fields-container-of-three margin">
        <mat-form-field appearance="fill">
          <mat-label>Organisme</mat-label>
          <mat-select formControlName="codeorganisme" (selectionChange)="changed()">
            <mat-option *ngFor="let organisme of organismes" [value]="organisme.codeorganisme">
              {{ organisme.organisme }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="data.controls.codeorganisme.hasError('required')">organisme est obligatoire</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Agence</mat-label>
          <mat-select formControlName="codeagence">
            <mat-option *ngFor="let agence of agences" [value]="agence.codeagence">
              {{ agence.agence}}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="data.controls.codeagence.hasError('required')">agence est obligatoire</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input formControlName="name" matInput placeholder="Nom" />
          <mat-hint *ngIf="data.controls.name.hasError('required')">Nom est obligatoire</mat-hint>
        </mat-form-field>
      </div>
      <div class="margin">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email" />
          <mat-hint *ngIf="data.controls.email.hasError('required')">email est obligatoire</mat-hint>
        </mat-form-field>
      </div>
      <div class="margin">
        <mat-form-field appearance="fill">
          <mat-label>Tel GSM</mat-label>
          <input formControlName="gsm" matInput placeholder="gsm" />
          <mat-hint *ngIf="data.controls.gsm.hasError('required')">tel gsm est obligatoire</mat-hint>
        </mat-form-field>
      </div>
      <div class="margin">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
          <mat-icon style="position: relative;
          bottom: 7px;" matPrefix><img *ngIf="!hide" src="../../../assets/visible.png" alt="account icon"></mat-icon>
                      <mat-icon style="position: relative;
                      bottom: 7px;" matPrefix><img *ngIf="hide" src="../../../assets/invisible.png" alt="account icon"></mat-icon>
          </button>
          <mat-hint *ngIf="data.controls.password.hasError('required')">mot de passe est obligatoire</mat-hint>
        </mat-form-field>
      </div>
      <div class="margin">
        <mat-form-field class="passwordConfirmation" appearance="fill">
          <mat-label>Confirmation</mat-label>
          <input
            formControlName="repassword"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="confirmer le mot de passe"
          />
          <mat-hint *ngIf="data.hasError('notSame')">
            Passwords do not match
          </mat-hint>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
          <mat-icon style="position: relative;
          bottom: 7px;" matPrefix><img *ngIf="!hide" src="../../../assets/visible.png" alt="account icon"></mat-icon>
                      <mat-icon style="position: relative;
                      bottom: 7px;" matPrefix><img *ngIf="hide" src="../../../assets/invisible.png" alt="account icon"></mat-icon>
          </button>
        </mat-form-field>
      </div>

      <p class="login">
        <button [disabled]="data.invalid" mat-raised-button type="submit">
          <h1>Ajouter</h1>
        </button>
      </p>

      <p class="connecter"><a href="/login">Se connecter</a></p>
    </form>
  </div>
</div>
