<div mat-dialog-content>
    <div>
        <h1>Réorienter vers :</h1>
    </div>
    <form>
        <div style="margin: 15px auto;">
            <mat-form-field appearance="standard">
                <mat-label>La ville</mat-label>
                <mat-select [(ngModel)]="ville" (selectionChange)="getcodeagences()"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let ville of data.villes" [value]="ville.ville">
                        {{ ville.ville }}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: crimson" *ngIf="villeHint">Ville est obligatoire</mat-hint>
            </mat-form-field>
        </div>
        <div style="margin: 15px auto;">
            <mat-form-field appearance="standard">
                <mat-label>l'agence</mat-label>
                <mat-select [(ngModel)]="agence" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let agence of agences" [value]="agence">
                        {{ agence.agence }}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: crimson" *ngIf="agenceHint">Agence est obligatoire</mat-hint>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="annuler()">Annuler</button>
    <button mat-flat-button color="primary" (click)="validate()">OK</button>
</div>