.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.sidenav-content .mat-toolbar {
  background:  rgb(32, 155, 19);
}

.mat-toolbar.mat-primary {
  position: static;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}
mat-icon{
  color: rgb(52, 170, 190);
  margin-right: 10px;
}
.hidden{
  visibility: hidden;
}

.slag{
  font-family: 'Nunito';
}
.goback{
  background: transparent;
  border: none;
  align-items: center;
  display: flex;
}

img{
  width: 40px;
margin-left: 10px;
margin-top: 2px;
}