table {
    width: 100%;
    margin: 0 auto;
}

.focused {
    background-color: lightblue !important;
}
.fields{
    display: table;
    margin: 0px auto;

}
.button-form{
    margin-left:20px;
}
.btn-round{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.filter {
    margin: 20px;
}

.mat-tab-labels {
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25% !important;
}

.btn {
    margin: 5px;
}

// td , th {
//     white-space: normal;
//     word-wrap: break-word;
//     max-width: 10%;
// }
.none{
    display: none;

}

.minWidth{
    width: 100px !important;
}
.initial{
    display: initial;
}

.containerAgent{
    margin-top: 50px;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.fields{
    display: table;
    margin: 0px auto;
}