<mat-tab-group class="one" (selectedTabChange)="makeItFocused($event)" color="warn">
    <!-- Personne Physique  -->

    <mat-tab label="Personne Physique">
        <!-- Filter by statut-->
        <mat-form-field class="filter" appearance="fill">
            <mat-label>Filtrer par statut</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="onChange()">
                <mat-option *ngFor="let statut of status" [value]="statut.value">
                    {{ statut.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ngb-alert *ngIf="isAlert" type="danger">{{alert}}</ngb-alert>
        <!--  Table-->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="numtiers">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° TIERS.</th>
                <td mat-cell *matCellDef="let element">{{ element.numtiers }}</td>
            </ng-container>

            <ng-container matColumnDef="numerodossier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Dossier.</th>
                <td mat-cell *matCellDef="let element">{{ element.numerodossier }}</td>
            </ng-container>
            <ng-container matColumnDef="resultatTraitement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Résultat Traitement.</th>
                <td mat-cell *matCellDef="let element">{{ element.resultatTraitement }}</td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom.</th>
                <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
            </ng-container>

            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom.</th>
                <td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
            </ng-container>

            <ng-container matColumnDef="ncin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
                <td mat-cell *matCellDef="let element">{{ element.ncin }}</td>
            </ng-container>
            <ng-container matColumnDef="telgsm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel</th>
                <td mat-cell *matCellDef="let element">{{ element.telgsm }}</td>
            </ng-container>
            <ng-container matColumnDef="statuttraitement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.statuttraitement }}
                </td>
            </ng-container>
            <ng-container matColumnDef="valeurid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ValeurID</th>
                <td mat-cell *matCellDef="let element">{{ element.valeurid }}</td>
            </ng-container>
            <ng-container matColumnDef="codeagencecible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Agence</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.codeagencecible }}
                </td>
            </ng-container>
            <ng-container matColumnDef="erreur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Erreur</th>
                <td mat-cell *matCellDef="let element">{{ element.erreur }}</td>
            </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>options</th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button (click)="openDialog(element.valeurid)" class="btn" mat-raised-button color="warn">
                        Set Agence
                    </button>
                    <button (click)="openDialogSecond(element.valeurid)" class="btn" mat-raised-button color="warn">
                        Set Agent
                    </button>
                    <button (click)="getStatut(element.numtiers, element.codegestionnaire)" class="btn"
                        mat-raised-button color="warn">
                        Get Statut
                    </button>
                    <button (click)="sendToEvolan(element)" class="btn" mat-raised-button color="warn">
                        Send To Evolan
                    </button>
                    <button (click)="openDialogResultatTraitement(element.valeurid)" class="btn" mat-raised-button color="warn">
                        Set Resultat Traitement
                    </button> -->
                    <button (click)="send(element)" class="btn" mat-raised-button color="warn">
                        Details
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </mat-tab>
</mat-tab-group>