/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( $font-family: 'Poppins');
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
@font-face {
    font-family: Poppins;
    src: url("../src/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}
html,
body {
    // background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(115,249,101,1) 0%, rgba(136,161,249,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    font-weight: 600;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Montserrat';
}
.mat-select-panel{
    // max-width: 170px !important;
    box-shadow: none !important;
}
.mat-option{
    background-color: white !important;
    color: black !important;

}
.mat-option:hover{
    background-color: rgb(0, 119, 255) !important;
    color: white !important;

}
app-root {
    width: 100%;
}

.mat-ink-bar {
    height: 4px !important;
    border-radius: 10px !important;
    transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) !important;
}

.mat-tab-label {
    font-weight: 600 !important;
}

.mat-tab-label.mat-tab-label-active {
    background-color: lightblue !important;
    font-weight: 700 !important;
}

tr.mat-header-row {
    background-color: rgb(32, 155, 19) !important;
    font-weight: 700 !important;
    color: #44611f;
}

.mat-sort-header-container {
    color: white !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding: 0 !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding: 0 !important;
}
mat-tab-body {
    padding: 20px !important;
    width: 100%;
}

mat-sidenav-content {
    background: linear-gradient(90deg, rgba(115,249,101,1) 0%, rgba(136,161,249,1) 100%);
}

.four {
    .mat-tab-labels {
        display: grid !important;
        grid-template-columns: 25% 25% 25% 25% !important;
    }
}
 
.two {
    .mat-tab-labels {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }
}

.one {
    .mat-tab-labels {
        display: grid !important;
        grid-template-columns: 100% !important;
    }
}

.mat-form-field-flex {
    border-radius: 5px !important;
    padding: 0.5em .5em 0 .5em !important;
}
.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-form-field-underline {
    display: none;
}

.mat-sort-header-container {
    justify-content: center !important;
}

td {
    text-align: center;
    padding: 2px;
    box-shadow: 0px 0px 1px rgb(32, 155, 19);
}

.mat-table {
    overflow: scroll;
}

// .mat-cell,
// .mat-header-cell {
//     word-wrap: initial;
//     display: table-cell;
//     padding: 0px 10px;
//     line-break: unset;
//     width: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//     vertical-align: middle;
// }

// .mat-row,
// .mat-header-row {
//     display: table-row;
// }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-snack-bar-container{
    background-color: rgb(218, 40, 40);
}
.mat-snack-bar-container .mat-simple-snackbar{
    font-weight: 500;
}
.mat-snack-bar-container .mat-simple-snackbar-action{
    font-weight: 700;
    color: rgb(41, 1, 1);
}
.goback{
    background: transparent;
    border: none;
    align-items: center;
    display: flex;
  }
  .buttons span.mat-button-wrapper:hover{
    color: rgb(6, 116, 206);
}

.mat-cell, .mat-header-cell{
    width: 0;
}
input{
    color: #157103;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}
.mat-form-field-wrapper {
    padding-bottom: 0.8em;
}
.successClassSnack{
    background-color: rgb(32, 155, 19);
    color: aliceblue;
}
.failureClassSnack{
    background-color: rgb(218, 40, 40);
    color: aliceblue;
}
.mat-form-field .mat-form-field-flex {
    background-color: whitesmoke;
    border: 0.5px solid rgb(43, 43, 49);
    box-shadow: 0 0 20px 2 rgb(40, 40, 59);
}

.mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    font-size: 15%;
    line-height: 0.125;
}
.mat-dialog-actions{
    display: flex;
    justify-content: space-evenly;
}
.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.mat-paginator-range-actions button{
    background-color: white;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
    color: rgb(1, 0, 6);
}
.make_blue {
    .mat-cell{
        color: #06166d;
    }
}